# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# /core
/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
#/web/libraries/contrib/
/web/tmp/

# ignore the release.version file
/web/release.version

# Ignore  NPM Packages
/node_modules/

# Ignore *.map files to avoid vulnerability
*.map

# DEPRECATED - local no longer being used for sensitive info
# Ignore configuration files that may contain sensitive information.
# /web/sites/*/settings/settings.local.php

# Ignore paths that contain user-generated content.
#/web/sites/*/files/*
/web/sites/*/private/*
/web/sites/*/files/config_*
/web/sites/*/files/css/*
/web/sites/*/files/js/*
/web/sites/*/files/php/*

# Ignore Mac hidden files
.DS_Store

# Ignore IDE and development files/folders
/.vscode/
/.ddev/
/.env
/database/*

