{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <div class="off-canvas-content" data-off-canvas-content>
      <nav id="returnToNCInav"><a target="_new" tabindex="1" id="returnToNCIlink--home" href="https://datacommons.cancer.gov/?cid=crdcnav_hp_pdc.cancer.gov">NCI Cancer Research Data Commons</a></nav>
      {% if page.meta_header %}
        {% include '@ccdh_foundation/regions/meta-header.html.twig' %}
      {% endif %}
      {% include '@ccdh_foundation/regions/header.html.twig' %}

      <div class="row">
        {% include '@ccdh_foundation/regions/account-info.html.twig' %}
      </div>

      {% if messages and not zurb_foundation_messages_modal %}
      <div class="l-messages row">
        <div class="large-12 columns">
          {{ messages }}
        </div>
      </div>
      {% endif %}

      {% if page.help %}
      <div class="l-help row">
        <div class="large-12 columns">
          {{ page.help }}
        </div>
      </div>
      {% endif %}

      <div class="row row-main">
        {% include '@ccdh_foundation/regions/main.html.twig' %}

        {% if page.sidebar_first %}
          {% include '@ccdh_foundation/regions/sidebar-first.html.twig' %}
        {% endif %}

        {% if page.sidebar_second %}
          {% include '@ccdh_foundation/regions/sidebar-second.html.twig' %}
        {% endif %}
      </div>

      {% include '@ccdh_foundation/regions/footer.html.twig' %}
    </div>
  </div>
</div>
