#navbar-main {
  padding:0px;
}
.navbar-nav {
  background-color: #343a40;
  border-color: #fff;
  font-weight: bold;
}
.navbar-nav > .nav-item > a.nav-link {
  position: relative;
  width: 100%;
  min-height: 61px;
  display: inline-block;
  padding: 14px 15px 7.5px;
  margin: 0;
  background-color: hsla(0,0%,100%,0);
  border-bottom: 7px solid transparent;
  font-family: Montserrat,Avant Garde,Arial,sans-serif;
  text-align: center;
  -webkit-transition: background-color .15s linear;
  transition: background-color .15s linear;
  color: white;
}

.navbar-nav > .nav-item.active > a {
  border-bottom: 4px solid #14819b;
  background-color: #fff;
  border-bottom-color: #14819b;
  color: #2f2f2f;
}
.navbar-nav > li > a.nav-link:hover, .navbar-nav > li > a.nav-link:focus {
  color: #2f2f2f;
  background-color: white;
}
.navbar-nav > .nav-item {
  font-size: 18px;
}

/*
.navbar-nav {
  color: ##1A4D7D;
}
.nav-item:hover, .nav-item:focus {
  color: #e5dbdb;
}
*/
 */
.navbar-default .navbar-text {
  color: ##1A4D7D;
}
.navbar-default .navbar-nav > li > a {
  color: #14819b;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #445767;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #445767;
}
.navbar-default .navbar-toggle {
  border-color: #425766;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #445767;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7e2e9;
}
.navbar-default .navbar-link {
  color: #d7e2e9;
}
.navbar-default .navbar-link:hover {
  color: #e5dbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e2e9;
    
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e5dbdb;
    
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e5dbdb;
    background-color: #445767;
  }
}

